.fa-github-square:hover{
  color: white;
}
.fa-twitter-square:hover{
  color: white;
}
.fa-facebook-square:hover{
  color: white;
}


.footer{
  margin: 0;
  padding: 26px 0;
  margin-top: 150px;
  background: #33323D;
  &__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  &__nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list{
    margin: 0;
    padding: 0;
    width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  &__link{
  margin: 0;
  padding: 0;
  font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
  }
  &__icons{
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width:1100px){
  .footer{
    margin: 0;
    margin-top: 96px;
    &__container{
      max-width: 690px;
      padding: 0%;
    }
    &__nav{
      width: 570px;
    }
    &__list{
      width: 250px;
    }
    &__icons{
      width: 90px;
    }
    &__link{
      font-size: 10px;
    }
  }
}

@media only screen and (max-width:689px){
  .footer{
    padding:0;
    &__container{
      padding: 61px 0;
      max-width: 311px;
      display: flex;
      flex-direction: column;
    }
    &__nav{
      max-width: 100px;
      flex-direction: column;
    }
    &__list{
      padding: 15px 0;
      display: flex;
      max-width: 100px;
      flex-direction: column;
    }
    &__item{
      padding: 32px 0;
    }
  }
}